MAX_BOT_TOKEN=
REPLY_WINDOW_HOURS=
BROADCAST_DELAY_SECONDS=
ADMIN_IDS=
MAX_CHAT_ID=
PANEL_HOST=
PANEL_PORT=
PANEL_USER=
PANEL_PASSWORD=
DOCS_EMAIL=
VEHICLE_EMAIL=
DIGEST_HOUR=
PANEL_USERS=
PORTAL_URL=
